.body{
  --background: rgb(219, 77, 42);
}

.title{
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.label-input{
  color: #fff;
}

.input-name{
  color: #fff;
}

ion-item{
  --background: rgb(219, 77, 42);
  --border-color: #fff;
}

.button-start{
  font-weight: bold;
  --background: rgba(27, 150, 221, 0.705);
}